/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* -------- couleurs  ----------
rouge/marron 	#681319
rose 			#E2017B
vert 			#91B245
bleu 			#3EA196
violet		    #93117E
gris 			#F0F0F0
gris fonce		#777    rgb(119, 119, 119) 
*/

 /* ------- import polices ---------- */
@import url(polices.css);

body {
	background-color:#F0F0F0;
    font-family:quicksand_light-webfont;
	font-size:0.8em;
	line-height:normal;
}
/*TITRAGE*/

h1{	
    font-size: 2em;
    color:#3EA196;
}
h2{
    color:#E2017B;
}
a:link{
	 text-decoration:none;
	 color:#B3454E;
}
a:hover {
    background-color:#B3454E;
    color:#FFF;
}