@charset "utf-8";
@font-face
{
    font-family: 'Montez-Regular-webfont';
    src: url('../polices/Montez-Regular-webfont.eot');
    src: url('../polices/Montez-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Montez-Regular-webfont.woff') format('woff'),
         url('../polices/Montez-Regular-webfont.ttf') format('truetype'),
         url('../polices/Montez-Regular-webfont.svg#Montez-Regular-webfontr') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face
{
    font-family: 'quicksand_light-webfont';
    src: url('../polices/quicksand_light-webfont.eot');
    src: url('../polices/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/quicksand_light-webfont.woff') format('woff'),
         url('../polices/quicksand_light-webfont.ttf') format('truetype'),
         url('../polices/quicksand_light-webfont.svg#quicksand_light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}